@import url(//db.onlinewebfonts.com/c/14f06861671dbbd83544237bed82c974?family=Itim);
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}


#corpozindeoutracor{
    background-color: #6F4141;
}



/* sidebar*/

.sidebarmenu h1{
    position: absolute;
    width: 500px;
    height: px;
    left: 20px;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
   
    color: #ffffff;
    }
    
    .sidebarmenu{
        position: fixed;
        width:300px;
        height: 100%;
        background: #9A5959;
    }
    
    .sidebarmenu ul a  {
    position:relative;
    text-decoration: none;
    width: 200px;
    height: 120px;
    font-size: 35px;
    font-family: 'Itim';
    font-style: normal;
    color: #FFFFFF;
}

.sidebarmenu ul a:hover{
    color: black;
    border-bottom: 2px solid black;
}
.sidebarmenu li {
        margin-top: 80px;
        text-align: center;
        list-style: none;

}

.loguinho{
    display:flex;
    margin: 0 auto;
}

.musicas a{
    text-decoration: none;
    color: #FFFFFF;
}

.musicas a:hover{
    color:black;
}
    
/* carroosel*/
#carouselExampleCaptions{
    width: 1000px;
    display: flex;
    margin: 0 auto;
   margin-right: 100px;
}


.imagem-carousel{
    height:500px;
    margin-top: 60px;
    border-radius: 40px;
    
}


.musicas{
    display: flex;
    margin-top: 50px;
    font-size: 25px;
}
.musicas .nacionais{
    background-color: #9A5959;
    border-radius: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Itim';
    margin-left: 400px;
    width: 400px;
}

.musicas .internacionais{
    margin-left:200px;
    background-color: #9A5959;
    border-radius: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Itim';
    width: 400px;
}


/*musica1*/


.ajustesmusica1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ajustesmusica1 .imagemdemusica1 img{
    height: 250px;
    width: 400px;
    border-radius: 15px;
    margin-top: 80px;
}



.ajustesmusica1 .nomemusica1 p{
    font-size: 20px;
    font-family: 'Itim';
    color: #FFFFFF;
}

.ajustesmusica1 .letramusica1 {
    background-color: #9A5959;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    width: 400px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    
}

 .letramusica1::-webkit-scrollbar{
    width: 0px;

}
        
.ajustesmusica1 .letramusica1 .letrinha1{
    width: 300px;
    font-family: 'Itim';
    line-height: 25px;
}   

input{
    width: 80px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #9A5959;
    color: #FFFFFF;
    font-family: 'Itim';
    font-size: 15px;
    border: none;
}
